---
import TranslatedText from '../TranslatedText.astro';
---

<section class="section bg-neutral-950 flex items-center justify-center pt-24 pb-8">
  <div class="container-custom text-center px-6">
    <div class="text-center">
      <TranslatedText keyPath="privacyPolicy.title" tag="h1" class="scroll-m-20 text-5xl font-bold tracking-tight lg:text-7xl text-white" />
    </div>
  </div>
</section>
