---
import { TypographyH1 } from '../ui/typography';
import { JoinButton } from '../ui/JoinButton';
---

<section class="section bg-neutral-900 py-28">
  <div class="container-custom text-center">
    <TypographyH1 className="text-white">Start Learning to Code</TypographyH1>

    <div class="mt-8">
      <div class="inline-block">
        <JoinButton client:load text="Join Level Up Journey" />
      </div>
    </div>
  </div>
</section>