---
---

<section class="section bg-neutral-950 py-12 md:py-24">
  <div class="container-custom text-center">
    <div class="mx-auto max-w-4xl">
      <div class="bg-white rounded-xl h-60 md:h-80 w-full shadow-lg"></div>
    </div>
  </div>
</section>