---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Section1 from '../components/Hero.astro';
import Section2 from '../components/Section2.astro';
import Section3 from '../components/Section3.astro';
import Section4 from '../components/Section4.astro';
import Section5 from '../components/Section5.astro';
import Footer from '../components/Footer.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/level-up-cat-happy.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LevelUp Journey</title>
	</head>
	<body class="bg-neutral-950 text-white">
		<Header />
		<main>
			<Section1 />
			<Section2 />
			<Section3 />
			<Section4 />
			<Section5 />
		</main>
		<Footer />
	</body>
</html>
